<div class="containers">
    <div class="box">
        <!-- top image cap -->
        <div class="card mb-3 p-3justify-content">
            <img [src]="content.photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs-3 mt-2 mb-3 text-danger ">{{content.title}}</h5>
              <p class="card-text  fs-5">{{content.content}}</p>
              <p class="card-text"><strong class="text-primary ">Created By :- {{content.author}}  </strong></p>
            </div>
           
          </div>
         
    </div>
</div>
