
<div class="containr">
    <div class="register">
        <!-- bootstrap floating form -->
        <div class="form-floating mb-3 text-center">
            <input [(ngModel)]="user.email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input [(ngModel)]="user.username" type="text" class="form-control" id="floatingUsername" placeholder="Username">
            <label for="floatingPassword">username</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="user.password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <a class="btn  mt-5 regbtn" (click)="onSignUp()">Register</a>

    </div>
</div>
